* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EAEAEA;
    color: #333;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;    
}

/* PROPRIETES COMMUNES */

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.border {
    border: 1px solid darkgray;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: salmon;
}

/* HEADER */

header {
    background-color: #EAEAEA;
    padding: 0 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 10vh;
}

header img {
    height: 4.5rem;
}

.switch {
    align-items: center;
    font-size: 1.4rem;
}

.switch img {
    height: 1.5rem;
    padding-left: 0.5rem;
}

#dayMode {
    display: none;
}

#identity img {
    border-radius: 50%;
    margin-right: 1rem;
}

/* PAGE */

#page {
    grid-template-columns: 20% 80%;
    margin-top: 10vh;
}

/* NAV */

nav {
    position: fixed;
    top: 10vh;
    bottom: 0;
    width: 20%;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    width: 60%;
    margin: 5rem 0;
    padding: 0.5rem;
    text-align: center;
    border-radius: 1rem;
}

#modules, .softwares {
    list-style: none;
}

.module {
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

.heading p, .heading h2 {
    padding-right: 1rem;
}

.softwares li {
    padding: 0.2rem 0;
    font-size: 1rem;
}

.softwares a {
    display: none;
    padding-left: 1rem;
}

.open a {
    display: block;
}

.open img {
    transform: rotateX(180deg);
}

#addSoftware {
    background-color: #067DFD;
    color: white;
}

/* CONTENT */

#content {
    grid-column-start: 2;
    padding: 2rem;
}

#softwareLink {
    padding-left: 3rem;
    font-size: 1.2rem;
}

#softwareVersion {
    color: grey;
}

#softwareLogo {
    width: 4rem;
}

#softwareDesc {
    padding: 1rem 0;
    text-align: justify;
}

h2 {
    padding: 1rem 0;
}

/* VIDEO YOUTUBE */

#iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* donne un ratio 16:9 au container */
    height: 0;
}

#iframe-container iframe {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: 0;
}

/* FOOTER */

footer {
    grid-column: 1 / span 2;
    padding: 1.5rem;
}

/* MODE NUIT */

.night, .night a {
    color: #EAEAEA;
}

.night a:hover {
    color: salmon;
}

.night, .night header {
    background-color: #181818;
}

.night #nightMode {
    display: none;
}

.night #dayMode {
    display: flex;
}

/* MEDIA QUERIES */

@media screen and (max-width: 850px) {    

    nav {
        opacity: 0;
    }

    #name {
        display: none;
    }

    #content {
        grid-column-start: 1;
    }

    #page {
        grid-template-columns: 100%;
    }
}